/* styles.css */

/* Change font for all paragraphs */
*  body { 
     font-family: Verdana;
     background-color:royalblue;

 }


/* Style of navigation section */
nav {
    background-color: peachpuff;
    color: #fff;
    padding:5px;
}


/* Add space around page content */
.container {
    margin: 20px;
    padding: 20px;
}


























































